In [1]:
import pandas as pd
import requests
from bs4 import BeautifulSoup as BS
import numpy as np
import matplotlib.pyplot as plt
import re
import seaborn as sns
%matplotlib inline

In [2]:
page = 1
scraped_data = []
while page!=18:
      url= f'https://countrymusichalloffame.org/hall-of-fame/members/page/{page}'
      response = requests.get(url)
      data = BS(response.text, 'html.parser')
      cards_data = data.find_all('div', attrs={'class', 'vertical-card_content'})  
      for card in cards_data:
          card_details = {}  
          names = card.find('h3')
          year_inducted = str(card.find('p'))
          year_new = re.findall(r'\d',year_inducted)
          year = ''.join(year_new)
          card_details['name'] = names.text
          card_details['year_inducted'] = year
          scraped_data.append(card_details)
      page = page + 1
      df_hall_of_fame = pd.DataFrame.from_dict(scraped_data)

In [3]:
df_hall_of_fame.head(18)

              name year_inducted
0        Roy Acuff          1962
1          Alabama          2005
2    Bill Anderson          2001
3      Eddy Arnold          1966
4      Chet Atkins          1973
5       Gene Autry          1969
6    DeFord Bailey          2005
7       Bobby Bare          2013
8     Eddie Bayers          2022
9      Johnny Bond          1999
10  Bobby Braddock          2011
11  Harold Bradley          2006
12   Jerry Bradley          2019
13    Owen Bradley          1974
14   Rod Brasfield          1987
15    Garth Brooks          2012
16   Brooks & Dunn          2019
17    Jim Ed Brown          2015

In [4]:
list_count_year = df_hall_of_fame.groupby(['year_inducted']).count()

In [5]:
df_year_count = pd.DataFrame(list_count_year).reset_index()
df_year_count.columns = ["year","count"]
df_year_count

    year  count
0   1961      3
1   1962      1
2   1964      1
3   1965      1
4   1966      4
5   1967      4
6   1968      1
7   1969      1
8   1970      2
9   1971      1
10  1972      1
11  1973      2
12  1974      2
13  1975      1
14  1976      2
15  1977      1
16  1978      1
17  1979      2
18  1980      3
19  1981      2
20  1982      3
21  1983      1
22  1984      2
23  1985      1
24  1986      2
25  1987      1
26  1988      2
27  1989      3
28  1990      1
29  1991      1
30  1992      2
31  1993      1
32  1994      1
33  1995      2
34  1996      3
35  1997      3
36  1998      4
37  1999      3
38  2000      2
39  2001     12
40  2002      2
41  2003      2
42  2004      2
43  2005      3
44  2006      3
45  2007      3
46  2008      4
47  2009      3
48  2010      4
49  2011      3
50  2012      3
51  2013      3
52  2014      3
53  2015      4
54  2016      3
55  2017      3
56  2018      3
57  2019      3
58  2021      3
59  2022      4

In [6]:
df_year_count.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 60 entries, 0 to 59
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   year    60 non-null     object
 1   count   60 non-null     int64
dtypes: int64(1), object(1)
memory usage: 1.1+ KB

In [7]:
df_year_count['year'] = pd.DatetimeIndex(df_year_count['year']).year

In [8]:
df_year_count.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 60 entries, 0 to 59
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   year    60 non-null     int64
 1   count   60 non-null     int64
dtypes: int64(2)
memory usage: 1.1 KB

In [9]:
decades_list = df_year_count.groupby((df_year_count['year']//10)*10)['count'].sum()
decades_list

year
1960    16
1970    15
1980    20
1990    21
2000    36
2010    32
2020     7
Name: count, dtype: int64

In [12]:
df_decades = pd.DataFrame(decades_list).reset_index()
df_decades.columns = ["decade","sum"]
df_decades

   decade  sum
0    1960   16
1    1970   15
2    1980   20
3    1990   21
4    2000   36
5    2010   32
6    2020    7